---
import { playlistBy, artists, songsBy, amountOfSongs, duration } from "@/domain/playlists";
import Layout from "@/layouts/Layout.astro";

const { id } = Astro.params;

const playlist = playlistBy(id!);
---

{
  playlist && (
    <Layout>
      <div
        id="playlist-container"
        class="relative flex flex-col h-full overflow-x-hidden gap-8"
        style={`background-color: ${playlist.color.accent}`}
        transition:name={`playlist-${id}-card`}
      >
        <header class="flex gap-6 p-10 font-light mt-12">
          <picture class="flex-none w-52 h-52">
            <img
              src={playlist.cover}
              alt={`Cover of ${playlist.title}`}
              class="object-cover w-full h-full shadow-lg"
              transition:name={`playlist-${playlist.id}-image`}
            />
          </picture>
          <div class="flex flex-col justify-between">
            <h2 class="flex flex-1 items-end">PLAYLIST</h2>
            <h1 class="text-6xl font-bold text-white">
              <span transition:name={`playlist-${playlist.id}-title`}>
                {playlist?.title}
              </span>
            </h1>
              <!--TODO: Pasar a grilla -->
            <div class="flex flex-1 items-end text-gray-400">
              <span transition:name={`playlist-${playlist.id}-artists`}>{artists(playlist)}</span>
            </div>
            <div class="flex flex-1 items-end">
              <p class="text-white">{amountOfSongs(playlist)} songs, {duration(playlist)}</p>
            </div>
          </div>
        </header>

        <main class="px-10">
          <ul class="flex flex-col gap-4">
            {songsBy(playlist).map(song => (
              <li class="flex items-center gap-10">
                <img src={song.coverUrl} alt={`Cover of ${song.title}`} class="w-16 h-16 object-cover" />
                <div class="flex flex-col">
                  <span class="text-white">{song.title}</span>
                  <span class="text-gray-400">{song.artist}</span>
                </div>
                  <span class="text-gray-500">{song.album}</span>
                  <span class="text-gray-500">{song.duration}</span>
              </li>
            ))}
          </ul>
        </main>
        <div class="relative z-10 px-6 py-10" />
        <div class="absolute inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/80 -z-10"></div>
        
      </div>
    </Layout>
  )
}
