---
import {
  playlistBy,
  artists,
  amountOfSongs,
  duration,
} from "@/domain/playlists";
import Layout from "@/layouts/Layout.astro";
import { PlaylistButton } from "@/components/PlaylistButton";
import { SongsTable } from "@/components/SongsTable";

const { id } = Astro.params;

const playlist = playlistBy(id!);
---

{
  playlist && (
    <Layout>
      <div
        id="playlist-container"
        class="relative flex flex-col overflow-x-hidden p-8 gap-6"
        style={`background-color: ${playlist.color.accent}`}
        transition:name={`playlist-${id}-card`}
      >
        <header class="flex gap-4 font-light mt-10">
          <picture class="flex-none w-52 h-52">
            <img
              src={playlist.cover}
              alt={`Cover of ${playlist.title}`}
              class="object-cover w-full h-full shadow-lg"
              transition:name={`playlist-${playlist.id}-image`}
            />
          </picture>
          <div class="flex flex-col justify-between">
            <h2 class="flex flex-1 items-end">PLAYLIST</h2>
            <h1 class="text-6xl font-bold text-white">
              <span transition:name={`playlist-${playlist.id}-title`}>
                {playlist?.title}
              </span>
            </h1>
            <div class="flex flex-1 items-end text-gray-400">
              <span transition:name={`playlist-${playlist.id}-artists`}>
                {artists(playlist)}
              </span>
            </div>
            <div class="flex flex-1 items-end">
              <p class="text-white">
                {amountOfSongs(playlist)} songs, {duration(playlist)}
              </p>
            </div>
          </div>
        </header>
        <section>
          <div>
            <PlaylistButton client:load id={playlist.id} />
          </div>
        </section>
        <section>
          <SongsTable client:load id={playlist.id} />
        </section>
        <div class="relative z-10 px-6 py-10" />
        <div class="absolute inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/80 -z-10" />
      </div>
    </Layout>
  )
}
