---
import {
  playlistBy,
  artists,
  amountOfSongs,
  duration,
} from "@/domain/playlists";
import Layout from "@/layouts/Layout.astro";
import { PlayButton } from "@/components/PlayButton";
import { SongsTable } from "@/components/SongsTable";

const { id } = Astro.params;

const playlist = playlistBy(id!);
---

{
  playlist && (
    <Layout>
      <div
        id="playlist-container"
        class="relative flex flex-col overflow-x-hidden justify-between h-full px-4"
        transition:name={`playlist-${id}-card`} 
        style={`background: linear-gradient(to bottom, ${playlist.color.dark}, #18181b)`}>
        <header class="flex gap-4 font-light p-4 mt-10">
          <picture class="flex-none w-52 h-52">
            <img
              src={playlist.cover}
              alt={`Cover of ${playlist.title}`}
              class="object-cover w-full h-full"
              transition:name={`playlist-${playlist.id}-image`}
            />
          </picture>
          <div class="flex flex-col justify-between">
            <h2 class="flex flex-1 items-end">PLAYLIST</h2>
            <h1 class="text-6xl font-bold text-white">
              <span transition:name={`playlist-${playlist.id}-title`}>
                {playlist?.title}
              </span>
            </h1>
            <div class="flex flex-1 items-end text-gray-400">
              <span transition:name={`playlist-${playlist.id}-artists`}>
                {artists(playlist)}
              </span>
            </div>
            <div class="flex flex-1 items-end">
              <p class="text-white">
                {amountOfSongs(playlist)} songs, {duration(playlist)}
              </p>
            </div>
          </div>
        </header>
        <div class="h-full p-4">
          <div>
            <PlayButton client:load id={playlist.id}  style="card-play-button rounded-full bg-green-500 p-4"/>
          </div>
          <div class="mt-8">
            <SongsTable client:load id={playlist.id} />
          </div>
        </div>
      </div>
    </Layout>
  )
}
