---
import type { Playlist } from "@/domain/playlists";
import { artists } from "@/domain/playlists";
import { CardPlayButton } from "@/components/CardPlayButton";

interface Props {
  playlist: Playlist;
}
const { playlist } = Astro.props;
---

<article class="group relative">
  <div
    class="absolute right-4 bottom-22 translate-y-4 transition-all duration-500 opacity-0 group-hover:translate-y-0 group-hover:opacity-100 z-10"
  >
    <CardPlayButton client:visible playlist={playlist} />
  </div>
  <a
    href={`/playlists/${playlist.id}`}
    class="playlist-card transition-all duration-300 flex relative gap-4 h-62
  p-2 rounded-md hover:bg-zinc-800 shadow-lg hover:shadow-xl bg-zinc-500/20 w-44 flex-col"
    transition:name={`playlist-${playlist.id}-card`}
  >
    <picture class="flex-none">
      <img
        src={playlist.cover}
        alt={`Cover of ${playlist.title} by ${artists(playlist)}`}
        class="rounded-md object-cover w-full h-full aspect-square"
        transition:name={`playlist-${playlist.id}-image`}
      />
    </picture>
    <div class="flex flex-auto flex-col">
      <h4 class="text-sm" transition:name={`playlist-${playlist?.id}-title`}>
        {playlist.title}
      </h4>
      <span
        class="text-xs text-gray-400 pb-3 truncate"
        transition:name={`playlist-${playlist?.id}-artists`} 
        >{artists(playlist)}</span
      >
    </div>
  </a>
</article>
